
@{
    ViewBag.Title = "Ayarlar";
}
<style>

    .sifre{
        background-color:red;
        color:white;
        text-align:center;
        font-size:50px;
        box-shadow: 5px 5px 15px 1px #666666;
        border-radius:10px;
    }
    .sifre:hover
    {
        background-color:orangered;
        color:black;
    }

</style>

<br /><br />

<a href="/Ek/sifreDegis/">
    <div class="sifre">

            şifre değiştirmek için tıkla

    </div>
</a>

<br /><br />

<a href="/Ek/mailDegis/">
    <div class="sifre">
            e-mail değiştirmek için tıkla


    </div>
</a>