
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>Kayıt ol</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content2/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Content2/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Content2/css/style.css" rel="stylesheet">
    <link href="/Content2/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">
    <div class="container">
        <form class="form-signin" action="/AnaSayfa/KullaniciEkle" method="post">
            <h2 class="form-signin-heading">Şimdi Kayıt ol</h2>
            <div class="login-wrap">
                <p>Kişisel bilgilerini gir</p>
                <input type="text" class="form-control" placeholder="Adınız" name="ad" autofocus>
                <input type="text" class="form-control" placeholder="Soyadınız" name="soyad" autofocus>
                <input type="text" class="form-control" placeholder="Email" name="email" autofocus>
                <input type="text" class="form-control" placeholder="Şehir" name="sehir" autofocus>
                <div class="radios">
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                        <input name="cinsiyet" id="radio-01" value="E" type="radio" checked /> Erkek
                    </label>
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                        <input name="cinsiyet" id="radio-02" value="K" type="radio" /> Kadın
                    </label>
                </div>
                <p> Hesap detaylarını gir</p>
                <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="kullanici_adi" autofocus>
                <input type="password" class="form-control" placeholder="Şifre" name="sifre">
                <input type="password" class="form-control" placeholder="Tekrar şifre ">
                <button class="btn btn-lg btn-login btn-block" type="submit">Gönder</button>
            </div>
        </form>
    </div>
</body>
</html>
